/* MIX */

body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
}
.padding-10 {
  padding: 0 10px;
}

/* HEADER */

/* HEADER TOP */

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 0.7rem;
}
.logo {
  height: 12px;
}
.main-menu {
  text-align: right;
}
.main-menu li {
  padding-right: 30px;
}
.main-menu li a {
  color: #000;
}
.side-menu {
  text-align: right;
}
.bordi::after {
  content: "|";
  margin-left: 5px;
}
.bordi::before {
  content: "|";
  margin-right: 5px;
}
.btn {
  padding: 10px 20px;
  margin-left: 15px;
  color: #fff;
  background-color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.hamburger-icon {
  font-size: 1.4rem;
}

/* Hero */
.tetto {
  height: 70px;
}
.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.padding-20 {
  padding: 20px;
}
.banner p {
  margin: 20px 0;
}
.banner h1 {
  font-size: 45px;
}

/* SECTION */
.img-bicimono {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}
.prodotti {
  margin-top: 50px;
  text-align: center;
}
.sfondo {
  background-color: #FAFAFA;
  padding: 80px 20px 20px 20px;
}
.logo-prodotto {
  width: 50%;
}
section .sfondo p {
  margin: 30px 0;
  font-size: 1.1rem;
}
